# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
tp1/pipes/pipe
tp1/sockets/consumer
tp1/sockets/producer
tp2/semaphores/main
tp3/client/client
tp3/coordinator/coordinator
*resultado.txt

# VSCode stuff
.vscode/